<div class="wow-component" data-wow-delay="0.3s">
  <div class="wow-content">
    <h2 class="wow-title">¡Bienvenido!</h2>
    <p class="wow-text">
      Explora mi trabajo, proyectos y pensamientos sobre desarrollo de software.
    </p>
    <div class="wow-highlight"></div>
  </div>
</div>
